@import "variables";
@import "header";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    font-size: 62.5%;

}

p {
    font-size: 2rem;
    /* 20px*/
}

.contenedor-about {
    margin: 0;
}

.body-about{
    background-image: url(../img/image/prism4.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-about {
    /* background-image: url(../img/image/partner-hand.b9c9b2b.webp);
    background-repeat: no-repeat;
    background-position: center right; */
    height: 690px;
    margin: 0;

    .aling-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;



        .cont-h1 {
            text-align: center;
            max-width: 100%;
            height: 6rem;
            margin: 20px;

            h1 {
                font-size: 4.5rem;
                padding-left: 50px;
            }

            span {
                color: ivory;
/*                 text-shadow: 0 0 5px $secondaryColor, 0 0 15px $secondaryColor, 0 0 30px $secondaryColor; 

 */                
                text-shadow: 0 0 5px black, 0 0 15px black, 0 0 30px black;
            }
        }

        .cont-p1 {
            text-align: left;
            margin: 20px;
            margin-bottom: 45px;


            h2 {
                font-size: 3.2rem;

            }

        }


        .cont-p3 {
            display: flex;
            flex-direction: column;
            margin: 20px;
            margin-bottom: 45px;


            .c3-p1 {

                font-size: 4rem;
                background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
                background-repeat: no-repeat;
                background-size: 21.5% 0.3em;
                background-position: 0 100%;
                transition: background-size 0.25s ease-in;

                &:hover {
                    background-size: 21.5% 88% !important;
                }
            }

            .c3-p2 {
                font-size: 4rem;

                background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
                background-repeat: no-repeat;
                background-size: 38.2% 0.3em;
                background-position: 0 100%;
                transition: background-size 0.25s ease-in;

                &:hover {
                    background-size: 38.2% 88% !important;
                }
            }

            .c3-p3 {
                font-size: 4rem;

                background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
                background-repeat: no-repeat;
                background-size: 26.5% 0.3em;
                background-position: 0 100%;
                transition: background-size 0.25s ease-in;

                &:hover {
                    background-size: 26.5% 88% !important;
                }
            }
        }
    }
}

.hand{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 200px;
}




@import "footer";