@import "variables";

/*Cel*/
@media(min-width:365px) and (max-width:767px) {

  /*Index*/

  .header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .nav-Logo-Title {

      display: flex;
      flex-direction: row;
      align-items: center;


      .navbar-brand {
        color: rgb(100, 61, 136);
        font-size: 3rem;
        display: flex;
        padding-left: 0.5rem;
        transition: all 2s;
        cursor: pointer;

        &:Hover {

          font-size: 5rem;
          color: rgb(100, 61, 136);

        }
      }
    }

    #navbarSupportedContent {

      .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;

        .nav-item {
          .nav-link {

            justify-content: end;
            list-style: none;
            color: azure;
            text-decoration: none;
            font-size: 2.5rem;
            transition: all 1.5s;

            &:Hover {
              color: $secondaryColor;
            }

          }
        }
      }

    }
  }

  .main {

    .img1 {
      .astroImage {
        height: 150px;
        margin-bottom: 20px;
      }
    }

    .img2 {
      a {
        height: 40px;
        width: 100px;
        margin-top: 120px;
      }

      .buttonV {
        font-size: 10px;
        padding-left: 22px;
        padding-top: 10px;
      }

      /*  .womanImage2 {
        display: none;
      } */
    }

    .img3 {

      .surrealImage {
        display: none;
      }
    }
  }

  /*-----------------------------------------------------About-us-----------------------------------------------------*/
  .header {
    div {
      padding-left: 80px;
    }

  }

  .main-about {
    height: 550px;

    .aling-text {
      .cont-h1 {
        height: 5rem;
        margin: 10px 0px;


        h1 {
          font-size: 2rem;
          padding-left: 0;

        }
      }

      .cont-p1 {
        text-align: center;
        width: 250px;

        h2 {
          margin-top: 20px;

          font-size: 1.5rem;
        }
      }

      .cont-p3 {
        align-items: initial;

        .c3-p1 {
          font-size: 1.2rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 45% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 45% 88% !important;
          }

        }

        .c3-p2 {
          font-size: 1.2rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 55% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 55% 88% !important;
          }

        }

        .c3-p3 {
          font-size: 1.2rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 53.2% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 53.2% 88% !important;
          }
        }
      }
    }
  }

  section {
    .hand {
      margin-top: 500px;

      .img-fluid {
        height: 120px;
      }
    }
  }


  /*-----------------------------------------------------Product-----------------------------------------------------*/

  .main-product {
    height: 1200px;

    .titleP {
      padding: 20px;

      h1 {
        font-weight: 700;
        padding-left: 10px;
        font-size: 4rem;

      }
    }

    .card3 {
      gap: 50px;

      .card {
        width: 210px;
        height: 250px;

        .details {
          .center {
            h1 {
              font-size: 20px;
            }

            p {
              font-size: 17px;
            }

            .btt-form {
              width: 150px;
              height: 50px;
              font-size: 15px;

            }
          }
        }
      }

    }
  }

  /*-----------------------------------------------------Token Info-----------------------------------------------------*/



  .main-token {
    height: 1050px;
    background-position-x: center;
    background-position-y: center;

    .circle-world {

      .circle-p {
        .circle-d1 {
          width: 240px;
          height: 240px;
          margin-bottom: 10px;

          .circle-p1 {
            p {
              font-size: 1.5rem;
            }

          }
        }

        .circle-d2 {
          width: 240px;
          height: 240px;
          margin-bottom: 10px;

          .circle-p2 {
            p {
              font-size: 1.5rem;
            }

          }
        }

        .circle-d3 {
          width: 240px;
          height: 240px;

          .circle-p3 {
            p {
              font-size: 1.5rem;
            }

          }
        }

      }

      .titles {
        h1 {
          font-size: 1.8rem;

          span {
            font-size: 2rem;
          }
        }
      }

      .cont-p4 {
        margin-right: 5px;
        align-items: center;

        .buttonC {
          font-size: 1.8rem;
        }
      }
    }
  }

  /*-----------------------------------------------------Contact-----------------------------------------------------*/

  .mainSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .main-contact {
      height: 800px;

      .mainSection {
        .titleContact {
          width: 100%;
          height: 200px;

          h1 {
            font-size: 20px;
          }
        }

        .form-contact {
          height: 500px;
          width: 350px;
          margin-bottom: 100px;

          header {
            span {
              padding: 0.5rem;

              h2 {
                font-size: 25px;
              }
            }
          }

          .contact {
            height: 500px;
            width: 350px;

            input {
              height: 20px;
            }

            textarea {
              height: 130px;
            }

            input[type='submit'] {
              font-size: 25px;
              padding-bottom: 40px;
              margin-top: 10px;
            }
          }

        }
      }
    }
  }
}


/*-----------------------------------------------------TABLETS-----------------------------------------------------*/

@media(min-width:768px) and (max-width:991px) {

  /*-----------------------------------------------------INDEX-----------------------------------------------------*/
  .main {

    .img1 {
      .astroImage {
        margin-bottom: 20px;
      }
    }

    .img2 {
      a {
        height: 90px;
        width: 400px;
        margin-top: 120px;
      }

      .buttonV {
        font-size: 40px;
      }

      .womanImage2 {
        display: none;
      }

    }

    .img3 {

      .surrealImage {
        display: none;
      }

    }
  }

  /*-----------------------------------------------------About-us-----------------------------------------------------*/
  .main-about {
    height: 750px;

    .aling-text {
      .cont-h1 {
        height: 5rem;
        margin: 10px 0px;


        h1 {
          font-size: 4rem;
          padding-left: 0;

        }
      }

      .cont-p1 {
        text-align: center;
        width: 700px;

        h2 {
          margin-top: 50px;

          font-size: 3rem;
        }
      }

      .cont-p3 {
        align-items: initial;

        .c3-p1 {
          font-size: 2.5rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 36% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 36% 88% !important;
          }

        }

        .c3-p2 {
          font-size: 2.5rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 46% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 46% 88% !important;
          }

        }

        .c3-p3 {
          font-size: 2.5rem;
          background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
          background-repeat: no-repeat;
          background-size: 44.2% 0.3em;
          background-position: 0 100%;
          transition: background-size 0.25s ease-in;

          &:hover {
            background-size: 44.2% 88% !important;
          }
        }
      }
    }
  }

  section {
    .hand {
      margin-top: 500px;

      .img-fluid {
        height: 280px;
      }
    }
  }


  /*-----------------------------------------------------Product-----------------------------------------------------*/

  .main-product {
    height: 600px;

    .card3 {
      gap: 50px;

      .card {
        width: 210px;
        height: 250px;

        .details {
          .center {
            h1 {
              font-size: 20px;
            }

            p {
              font-size: 17px;
            }

            .btt-form {
              width: 150px;
              height: 50px;
              font-size: 15px;

            }
          }
        }
      }

    }
  }

  /*-----------------------------------------------------Token Info-----------------------------------------------------*/

  .main-token {
    height: 900px;
    background-position-x: center;
    background-position-y: center;

    .circle-world {

      .circle-p {
        .circle-d1 {
          width: 300px;
          height: 300px;
        }

        .circle-d2 {
          width: 300px;
          height: 300px;
        }

        .circle-d3 {
          width: 300px;
          height: 300px;
        }

      }

      .titles {
        h1 {
          font-size: 2.8rem;
        }
      }

      .cont-p4 {
        margin-left: 20px;

        .buttonC {
          font-size: 2.5rem;
        }
      }
    }



  }

  /*-----------------------------------------------------Contact-----------------------------------------------------*/

  .mainSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .main-contact {
      height: 900px;

      .mainSection {
        .titleContact {
          width: 100%;
          height: 200px;
          margin-bottom: 25px;

          h1 {
            font-size: 35px;
          }
        }

        .form-contact {
          height: 600px;
          width: 500px;
          margin-bottom: 100px;

          header {
            span {
              padding: 0.5rem;

              h2 {
                font-size: 25px;
              }
            }
          }

          .contact {
            height: 500px;
            width: 500px;

            input {
              height: 40px;
            }

            textarea {
              height: 130px;
            }

            input[type='submit'] {
              font-size: 25px;
              padding-bottom: 40px;
            }
          }



        }
      }
    }
  }
}



/*-----------------------------------------------------LAPTOPS-----------------------------------------------------*/


@media(min-width:1024px) and (max-width:1440px) {

  /*Index*/
  .main {

    .img1 {
      .astroImage {
        margin-bottom: 20px;
      }
    }

    .img2 {
      a {
        margin-top: 200px;
        height: 90px;
        width: 400px;
      }

      .buttonV {
        font-size: 40px;
        padding-top: 5px;
      }
    }
  }

  /*-----------------------------------------------------About-us-----------------------------------------------------*/
  .main-about {
    .aling-text {
      .cont-h1 {
        height: 5rem;
        margin-top: 10px;

        h1 {
          font-size: 4rem;
          padding-left: 0;

        }
      }

      .cont-p1 {
        text-align: center;
        width: 700px;
        margin-left: 200px;

        h2 {
          margin-top: 20px;
          font-size: 3rem;
        }
      }

      .cont-p3 {
        align-items: initial;

        .c3-p1 {
          font-size: 2.5rem;
        }

        .c3-p2 {
          font-size: 2.5rem;
        }

        .c3-p3 {
          font-size: 2.5rem;
        }
      }
    }
  }

  section {
    .hand {
      margin-top: 320px;

      .img-fluid {
        height: 500px;
      }
    }
  }

  /*-----------------------------------------------------Product-----------------------------------------------------*/

  .main-product {
    height: 600px;

    .card3 {
      gap: 50px;

      .card {
        width: 210px;
        height: 250px;

        .details {
          .center {
            h1 {
              font-size: 20px;
            }

            p {
              font-size: 17px;
            }

            .btt-form {
              width: 150px;
              height: 50px;
              font-size: 15px;

            }
          }
        }
      }

    }
  }

  /*-----------------------------------------------------Token Info-----------------------------------------------------*/

  .main-token {
    background-position-x: center;

    .circle-world {

      .circle-p {
        .circle-d1 {
          width: 300px;
          height: 300px;
        }

        .circle-d2 {
          width: 300px;
          height: 300px;
        }

        .circle-d3 {
          width: 300px;
          height: 300px;
        }

      }

      .titles {
        h1 {
          font-size: 2.8rem;
        }
      }

      .cont-p4 {
        margin-left: 20px;

        .buttonC {
          font-size: 3rem;
        }
      }
    }
  }

  /*-----------------------------------------------------Contact-----------------------------------------------------*/
  header {
    .header2 {
      .nav-Logo-Title {
        a {
          logoT {
            height: 120px;
            width: 130px;
          }

        }

        .navbar-brand {
          color: rgb(100, 61, 136);
          font-size: 4rem;
          display: flex;
          padding-left: 0.5rem;
          transition: all 2s;
          cursor: pointer;

          &:Hover {
            font-size: 3rem;
          }
        }
      }

      .navbar-nav {
        gap: 1rem;

        .nav-item {
          .nav-link {
            font-size: 2rem;
          }

        }
      }

    }
  }

  .mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .titleContact {
      height: 500px;
      width: 400px;

      h1 {
        font-size: 50px;
      }
    }
  }


}