@import "header";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    font-size: 62.5%;

}

p {
    font-size: 2rem;
    /* 20px*/
}


.container-fluid{
    margin: 0;
}

.main-product {
    background-image: url(../img/image/prism5.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 705px;
    display: flex;
    flex-direction: column;
    
}

.titleP{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: rgb(100, 61, 136);
        padding-top: 20px;
        font-size: 5rem;
    }
}


.card3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}


.card {
    width: 410px;
    height: 450px;
    background: #000;
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    /*100%*/
    height: 100%;
    background: ivory;
    transition: .5s;
    transform-origin: left;
    transform: perspective(1000px) rotateY(-90deg);
}

.card:hover .details {
    transform: perspective(1000px) rotateY(0deg);
} 

.card .details .center {
    padding: 20px;
    text-align: center;
    background: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 30px;
    text-transform: uppercase;
}


.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #fff;
}

.btt-form {
    display: block;
    border-radius: 20px 20px;
    border: none;
    color: #fff;
    width: 300px;
    height: 70px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    background: rgb(69, 12, 74);
    background: linear-gradient(90deg, rgba(69, 12, 74, 1) 0%, rgba(115, 5, 124, 1) 8%,
            rgba(115, 5, 124, 1) 21%, rgba(36, 9, 116, 1) 49%, rgba(24, 37, 59, 1) 71%, rgba(89, 88, 121, 1) 88%);
    font-size: 35px;
    cursor: pointer;
}

.btt-form:hover {
    background: #ff3636;
    color: #000;
    font-size: 45px;
    font-weight: bolder;
}
@import "footer";
