
@import "variables";
@import "mediaQ";

.header {
    background-color: black;
    border-bottom: 2px solid $secondaryColor;
    width: 100vw;
}



.navbar-brand {
    color: rgb(100, 61, 136);
    font-size: 3rem;
    display: flex;
    padding-left: 0.5rem;
    transition: all 2s;

}

.navbar-brand:Hover {

    font-size: 5rem;
    color: rgb(100, 61, 136);

}

.nav-Logo-Title {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar-ul{

        display: flex;
        align-items: center;
        justify-content: center;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

}


.navbar-nav li a {

    
    justify-content: end;
    list-style: none;
    color: azure;
    text-decoration: none;
    font-size: 2.5rem;
    transition: all 2s;

}

.navbar-nav li a:Hover {
    color: $secondaryColor;
}


