
/////////////////////////////////////
// 1. Patron de colores
////////////////////////////////////

$mainColor:#14152c;

$secondaryColor:#87006C;

/////////////////////////////////////
// 2. Modificar variables de boostrap 
////////////////////////////////////

$enable-shadows:true;
$enable-gradients:true;
